*,
*::before,
*::after {
    box-sizing: border-box;
    background-color: black;
}

body {
    height: auto;
    width: auto;
    border: 5px solid red;
    margin: 2px;
}

.title {
    width: auto;
    height: 80px;
    padding: 25px;
    margin: 0px auto;
    color: black;
    background-color: pink;
    text-align: center;
}

.recipe-list {
    /* border: 5px solid red; */
    margin: 10px 10px;
}

.recipe {
    background-color: rgba(15, 1, 1, 0.849);
    border: 5px solid orange;
}

.image {
    display: inline-block;
}

.recipe-description {
    display: inline-block;
    height: auto;
    width: 855px;
    border: 5px solid wheat;
    color: white;
    padding-bottom: 0px;
    font-size: larger;
}

.button {
    display: block;
    background-color: pink;
    font-size: larger;
    margin: 150px auto 0px; 
}

.root {
    color: wheat;
}

.home-button {
    background-color: pink;
    font-size: larger;
    padding: 10px;
}